beautifulsoup4==4.6.0
bs4==0.0.1
DateTime==4.3
Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.9.0
heapdict==1.0.0
Jinja2==2.10
lxml==4.1.1
nltk==3.2.5
pipenv==2018.11.26
requests==2.18.4
selenium==3.141.0
textblob==0.15.2

